.App{
    background-image: url("https://th.bing.com/th/id/OIP.K-q-DY6Gz9POqtixhwb2sAHaE8?rs=1&pid=ImgDetMain");
    height: 800px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}