<h1 id="demo"> one way binding - interpolation</h1>
<!-- <app-child1></app-child1>
<br>
my  name is : {{name}}<br>

my age is :{{age}}<br>
my salary is :{{salary}}
<br>
<br>addition :<input type="text" value="{{getAddition(10,20)}}"/><br>
<br> name is : <input type="text" value="{{age}}"/> <br><br>
<img src ="{{imagePath}}" width="{{width}}" height="{{height}}">

<br>addition :<input type="text" [value] ="getAddition(10,20)"/><br>
<br> name is : <input type="text" [value]="age"/> <br><br>
<img [src] ="imagePath" [width]="width" [height]="height">
<br> <button (click)="changename()">{{btntext}}</button>
<br><br> <button (click)="changeimg()">ChangeImg</button>
<br> enter your name <input type="text" [(ngModel)]="firstname">
<br> welcome  {{firstname}} -->
<app-derivative></app-derivative>